<!-- MOBILE -->
<div class="block lg:hidden mb-6">

    <div class="flex justify-between text-xs mb-2">

        <span class="font-semibold text-slate-500">
            Paso {{ currentStep }} de {{ steps.length }}
        </span>

        <span class="text-[var(--brand-primary)] font-semibold">
            {{ steps[currentStep - 1]?.name }}
        </span>

    </div>

    <div class="w-full h-2 rounded-full bg-slate-200 overflow-hidden">

        <div class="h-full bg-[var(--brand-primary)] transition-all duration-300"
            [style.width.%]="(currentStep / steps.length) * 100">

        </div>

    </div>

</div>

<!-- Desktop -->
<nav aria-label="Progress" class="hidden lg:block mb-8">

    <ol class="flex items-center w-full">

        <li *ngFor="let step of steps; let i = index" class="relative flex flex-col items-center flex-1">

            <!-- LINE -->
            <div *ngIf="i !== steps.length - 1" class="absolute top-5 left-1/2 w-full h-[2px]" [ngClass]="
                    currentStep > step.id
                    ? 'bg-[var(--brand-primary)]'
                    : 'bg-slate-200'
                ">
            </div>

            <!-- CIRCLE -->
            <div class="relative flex h-10 w-10 items-center justify-center
                       rounded-full border-2 z-10 transition-all" [ngClass]="{

                'bg-[var(--brand-primary)] border-[var(--brand-primary)] text-white':
                currentStep > step.id,

                'bg-white border-[var(--brand-primary)] text-[var(--brand-primary)] shadow-sm':
                currentStep === step.id,

                'bg-white border-slate-200 text-slate-400':
                currentStep < step.id
            }">

                <lucide-angular *ngIf="currentStep > step.id" [name]="icons.Check" class="h-5 w-5">
                </lucide-angular>

                <lucide-angular *ngIf="currentStep <= step.id" [name]="icons[step.icon]" class="h-5 w-5">
                </lucide-angular>

            </div>

            <span class="mt-2 text-xs font-medium" [ngClass]="
                    currentStep === step.id
                    ? 'text-[var(--brand-primary)]'
                    : 'text-slate-400'
                ">

                {{ step.name }}

            </span>

        </li>

    </ol>

</nav>